body{
	font-variant-ligatures: no-common-ligatures;
}



.align{
/*	display: block;*/
	margin: auto;
	margin-top: 2%;
	vertical-align: middle;
	width: 80%;
}

#logo {
	padding-top: 2%;
	margin: auto; 
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-style: normal;
	color: #1919c8;
	font-size: 32pt;
	text-decoration: none;
	text-align: center;
}


.parent a {
	text-decoration: none;
}

.parent a:hover{
	text-decoration: 	underline;	
	color: #bed6e1;	
}

.Menu {
	margin-top: 2%;
	margin: auto;
	vertical-align: middle;
	width: 60%;


}

.menuList {
	margin: auto;
	list-style-type: none;
	text-align:center;
    display:inline;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 13pt;
}

.menuList li {
	margin-bottom:1%;
	text-decoration: none;
}

.menuList a {
	color: #bed6e1;
}

.headtitle {
	margin: auto;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 20pt;
	color: #1919c8;
	width: 90%;
/*	color: #005745;*/
}

.footer {
	margin:5%;
}

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 50px; 
  right: 27px; 
  z-index: 99; 
  border: 2px solid #bed6e1;
  color: #bed6e1;
  cursor: pointer; 
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-style: normal;
  padding: 7px 12px; 
  border-radius: 5px;
  font-size: 18px; 
  background-color: white;
}

#myBtn:hover {
	border: 2px solid #6e6e6e;
	color: #6e6e6e; 
}

.cont {
	margin: auto;
	font-family: hypatia-sans-pro, sans-serif;
	font-weight: 600;
	font-size: 13pt;
	text-indent: 5%;
	width: 81%;
}

.intro {
	width: 45%;
}

#cover{
	width: 100%;
	margin: 9% 0% 0% 81%;
}

#land {
	width: 100%;
	margin: -18% 0% 60% 0%;
	position: relative;
	z-index: 3;
}


.des{
	margin-top: -15%;
	width: 81%;

}

.ins{
	width: 54%;
	margin-left: 2%;
}

.tit {
	font-family: itc-galliard, serif;
	font-weight: 700;
	font-style: normal;
	font-size: 18pt;
	color: #1919c8;
}

.sc{
	width: 45%;
	margin-top: 5%;
	margin-left: 4%;
}


#scDes{
	font-weight: 500;
	font-size: 12pt;
	width: 52%;
	margin-top: -24%;
	margin-left: 52%;
	margin-bottom: 10%;
}

.res{
	margin-left: 2%;
	width: 69%;
}

.write img{
/*	margin-top: 3%;*/
	width: 85%;
}

.pics{
	margin-left: 10%;
}

.ra{
		font-weight: 500;
	font-size: 12pt;
	margin-left: 60%;
	width: 42%;
}

.em{
		font-weight: 500;
	font-size: 12pt;
	margin-left: 7%;
	margin-top: -7%;
	width: 40%;
}

.q{	
	font-weight: 500;
	width: 81%;
	margin: 12% 0% 0% 9%;
}

.write {
	width: 89%;
	margin-left: 5%;
}

.p1{
	font-weight: 500;
	}

#text {
	display: inline-block;
	vertical-align: middle;
	color: #1919c8;
	letter-spacing: 2px;
}


#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 23px;
	background-color: #1919c8;
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: #1919c8; 
	}
}

#p2pic{
	width: 95%;
	margin-left: 2%;
}

.p3pic{
	text-indent: 0%;
	margin-left: 2%;
}

.p3pic img{
	width: 95%;
}



#paper {
	margin-left: 32%;
	margin-top: 5%;
	font-weight: 900;
	color: black; 
	text-decoration: underline;
	font-size: 11pt;
}

.end{
		font-weight: 500;
		width: 85%;
		margin-left: 5%;
}

@media (min-width: 1199.98px) {

.container{
	width: 80%;
	margin: auto;
	vertical-align: middle;
}
}


@media (min-width: 1800px) {

.container{
	width: 63%;
	margin: auto;
	vertical-align: middle;
}
}