body{
	font-variant-ligatures: no-common-ligatures;
}


mark{
	background-color: white !important;
	color: #bed6e1 !important;
	font-weight: 400;
	text-decoration: underline;
}


.align{
/*	display: block;*/
	margin: auto;
	margin-top: 2%;
	vertical-align: middle;
	width: 80%;
}

#logo {
	padding-top: 2%;
	margin: auto; 
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-style: normal;
	color: #1919c8;
	font-size: 32pt;
	text-decoration: none;
	text-align: center;
}


.parent a {
	text-decoration: none;
}

.parent a:hover{
	text-decoration: 	underline;	
	color: #bed6e1;	
}

.Menu {
	margin-top: 2%;
	vertical-align: middle;
	width: 69%;
	margin-right: auto;
	margin-left: auto;

}

.menuList {

	list-style-type: none;
	text-align:center;
    display:inline;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 13pt;

}

.menuList li {
	margin-bottom:1%;
	text-decoration: none;
	display: inline;
	text-align: center;
	margin-left: 9%;
	margin-right: 9%;

}

.menuList a {
	color: #bed6e1;
}


.footer {
	margin-top: 2%;
	font-weight: 400;
	width: 	200px;
	margin-left: 	auto;	
	margin-right: 	auto;	
	font-size: 	11pt;
	color: #1919c8;
}

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 50px; 
  right: 27px; 
  z-index: 99; 
  border: 2px solid #bed6e1;
  color: #bed6e1;
  cursor: pointer; 
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-style: normal;
  padding: 7px 12px; 
  border-radius: 5px;
  font-size: 18px; 
  background-color: white;
}

#myBtn:hover {
	border: 2px solid #6e6e6e;
	color: #6e6e6e; 
}

.cont {
	margin: auto;
	color: #969696; 
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	vertical-align: middle;
}

.container{
	padding-right: 30px !important;
	padding-left: 30px !important;
}


/*------------Content Below--------------*/

.headtitle {
/*	//margin: auto;*/
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 20pt;
	color: #1919c8;
	width: 90%;
/*	color: #005745;*/
}



.intro {
	width: 45%;
	margin-bottom: 3%;
}

.landing{
margin: auto;
}

.landing img{
	display: block;
	margin: auto;
	width: 100%;
}


.des{
	margin: auto;
	width: 81%;

}

.vid{
	margin-top: 2%;
}

iframe{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	margin-bottom: 2%;
	width: 100%;
}


.tit {
	font-family: Rubik, serif;
	font-weight: 500;
	font-style: normal;
	font-size: 18pt;
	color: #1919c8;
}



.write img{
/*	margin-top: 3%;*/
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	width: 100%;
}

.pics{
	margin-left: 10%;
}



.write {
	margin:auto;
	font-family: Roboto, serif;
	font-weight: 300;
	font-style: normal;
	font-size: 12pt;
	width: 89%;
	text-indent: 7%;
}


.p1{
	font-weight: 400;
	font-size: 14pt;
	}

#text {
	display: inline-block;
	vertical-align: middle;
	color: #1919c8;
	letter-spacing: 2px;
}


#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 23px;
	background-color: #1919c8;
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: #1919c8; 
	}
}

#p2pic{
	width: 95%;
	margin-left: 2%;
}

.p3pic{
	text-indent: 0%;
	margin-left: 2%;
}

.p3pic img{
	width: 95%;
}



.paper {
	margin-top: 1%;
	margin-bottom: 2%;
	margin-left: auto;
	margin-right: auto;
		width: 30%;
	text-decoration: underline;
	font-size: 11pt;
	text-align: center;

}

.paper a{

	font-weight: 700;
	color: #bed6e1;	
}

.end{
		font-weight: 400;
		width: 85%;
		margin: auto;
	
}

@media (min-width: 1199.98px) {

.container{
	width: 80%;
	margin: auto;
	vertical-align: middle;
}

.intro{
	width: 49%;
}

}


@media (min-width: 1800px) {

.container{
	width: 63%;
	margin: auto;
	vertical-align: middle;
}

.intro{
	width: 49%;
}
}

@media (max-width: 600px) {

.container{
	width:90%;
}

.intro{
	margin-left: auto;
	margin-right: auto;
	width: 95%;
}

.vid iframe{
	margin:auto;
	width: 100%;
}

.landing img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0%;
	margin-bottom: 0%;
	width: 100%;
}

.write{
	width: 100%;
}

.des{
	width: 100%;
}

.paper{
	width: 	100%;
}

.tit{
	font-size: 	14pt;
}

iframe{
	margin-bottom: 	0%;
	margin-top: 	0%;
}

.footer p{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

}

@media (max-width: 1200px) {
	.paper{
		width: 	50%;
	}

	.menu{
	width: 90%;
}

.menuList li{
	margin-left: 0%;
	margin-right: 0%;
	display: block;
}

}
