body{
	font-variant-ligatures: no-common-ligatures;
}


mark{
	background-color: white !important;
	color: #bed6e1 !important;
	font-weight: 400;
	text-decoration: underline;
	font-style: italic;
	/*text-decoration: underline;*/
}


.align{
/*	display: block;*/
	margin: auto;
	margin-top: 2%;
	vertical-align: middle;
	width: 80%;
}

#logo {
	padding-top: 2%;
	margin: auto; 
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-style: normal;
	color: #1919c8;
	font-size: 32pt;
	text-decoration: none;
	text-align: center;
}


.parent a {
	text-decoration: none;
}

.parent a:hover{
	text-decoration: 	underline;	
	color: #bed6e1;	
}

.Menu {
	margin-top: 2%;
	margin: auto;
	vertical-align: middle;
	width: 60%;


}

.menuList {
	margin: auto;
	list-style-type: none;
	text-align:center;
    display:inline;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 13pt;
}

.menuList li {
	margin-bottom:1%;
	text-decoration: none;
}

.menuList a {
	color: #bed6e1;
}


.footer {
	margin:5%;
}

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 50px; 
  right: 27px; 
  z-index: 99; 
  border: 2px solid #bed6e1;
  color: #bed6e1;
  cursor: pointer; 
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-style: normal;
  padding: 7px 12px; 
  border-radius: 5px;
  font-size: 18px; 
  background-color: white;
}

#myBtn:hover {
	border: 2px solid #6e6e6e;
	color: #6e6e6e; 
}


.container{
	padding-right: 30px !important;
	padding-left: 30px !important;
}


.headtitle {
/*	//margin: auto;*/
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 20pt;
	color: #1919c8;
	width: 90%;
/*	color: #005745;*/
}


#text {
	display: inline-block;
	vertical-align: middle;
	color: #1919c8;
	letter-spacing: 2px;
}


#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 27px;
	background-color: #1919c8;
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: #1919c8; 
	}
}

.cont {
	margin: auto;
	color: #969696; 
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	vertical-align: middle;
}

#sub{
	margin-left: 12%;
	margin-top: 2%;
}

.cover{
	width: 81%;
	margin-left: 9%;
	margin-top: 5%;
}

.cover img {
	margin-top: 2%;
	width: 69%;
	margin-left: 47%;

}



.intro{
	width: 45%;
	margin-top: -12%;
	z-index: 5;
	background-color:  white;
	padding: 18px;

}

.tit {
	font-family: Rubik, serif;
	font-weight: 500;
	font-style: normal;
	font-size: 18pt;
	color: #1919c8;
}

.a{
	margin-top: 3%;
	width: 75%;
}

.a img{
	width: 72%;
	margin-left: 10%;
}

.ap {
	width: 40%;
	margin-top: -8%;
	margin-left: 85%;

}

.d{
	width: 72%;
	margin-left: 21%;
	margin-top: 	3%;
}

.d img{
	width: 72%;
	margin-left: 45%;
}

.dp {

	width: 40%;
	margin-top: -12%;
	margin-left: 2%;

}

#dh{
	width: 40%;
/*	margin-left: -2%;*/
	margin-top: -7%;
}

#dhp{
	width: 45%;
	margin-left: -2%;
}


.f{
	width: 72%;
}

.f img{
	width: 72%;
	margin-left: 16%;
	margin-top: 	3%;
}

.fp {
	width: 40%;
	margin-top: -12%;
	margin-left: 15%;
	z-index: 5;
	padding: 9px 15px;

}

#fvp{
	margin-top: 2%;
	width: 45%;
}

#fvp2{
	width: 60%;
	margin-left: 54%;
	margin-top:-9%;
}

@media (max-width: 1150px) {

.container{
	width:90%;
}

.intro{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin-top: 	2%;
}

#sub{
	margin-left: auto;	
	margin-right: 	auto;	
	margin-top: 2%;
}

.w {
	font-weight: 	400;
}

.cover{
	width: 100%;
	margin-left: 	auto;	
	margin-right: 	auto;	
	margin-top: 5%;
}

.cover img {
	display: 	block;	
	margin-top: 2%;
	width: 90%;
	margin-left: auto;	
	margin-right: 	auto;	

}

.a{
	margin-top: 3%;
	width: 	100%;
}

.a img{
	display: 	block;	
	width: 90%;
	margin: 	auto;	
}

.ap {
	width: 90%;
	margin-top: 	2%;
	margin-left: 	auto;	
	margin-right: 	auto;	

}

.d{
	width: 100%;
	margin-left: 	auto;	
	margin-right: 	auto;	
	margin-top: 3%;
}

.d img{
	display: 	block;	
	width: 90%;
	margin-left: auto	;
	margin-right: 	auto;	
}

.dp {

	width: 90%;
	margin-top: 2%;
	margin-left: auto;
	margin-right: 	auto;	

}

#dh{
	width: 90%;
	margin-top: 2%;
	margin-left: 	auto;	
	margin-right: 	auto;	
}

#dhp{
	display: 	block;	
	width: 90%;
	margin-left: auto	;
	margin-right: 	auto;
	margin-top: 	2%;	
}


.f{
	width: 90%;
}

.f img{
	display: 	block;	
	width: 90%;
	margin-left: auto;	
	margin-right: 	auto;	
	margin-top: 	3%;
}

.fp {
	width: 90%;
	margin-top: 2%;
	margin-left: auto	;
	margin-right: 	auto;	

}

#fvp{
	display: 	block;	
	width: 90%;
	margin-left: auto;	
	margin-right: 	auto;	
	margin-top: 	3%;
}

#fvp2{
	display: 	block;	
	width: 90%;
	margin-left: auto;	
	margin-right: 	auto;	
	margin-top: 	3%;
}

}

@media (min-width: 1800px) {

.container{
	width: 63%;
	margin: auto;
	vertical-align: middle;
}

.intro{
	width: 47%;
}
}