body{
	font-variant-ligatures: no-common-ligatures;
}


.align{
/*	display: block;*/
	margin: auto;
	margin-top: 2%;
/*	vertical-align: middle !important;*/
	width: 300px;
}

#logo {
	padding-top: 2%;
	margin: auto; 
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-style: normal;
	color: #1919c8;
	font-size: 32pt;
	text-decoration: none;
	width: 90%;
}



.Full a {
	text-decoration: none;
}

.Full a:hover{
	text-decoration: 	underline;	
	color: #bed6e1;	
}

.landingimg {
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
	color: #969696; 
	text-align: center;
	width: 49%;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	font-size: 18pt;
	vertical-align: middle;
}



.Menu {
	margin-top: 2%;
	margin: auto;
	vertical-align: middle;
	width: 60%;


}

.menuList {
	margin: auto;
	list-style-type: none;
	text-align:center;
    display:inline;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 13pt;
}

.menuList li {
	margin-bottom: 1%;
	text-decoration: none;
}

.menuList a {
	color: #bed6e1;
}

/*#screen {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	cursor:pointer;
}*/

.txtbox{

	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-size: 18pt;
	width: 100%;
}

#text {
	margin: auto;
	display: inline-block;
	vertical-align: middle;
	color: #1919c8;
	letter-spacing: 2px;
}


#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 20px;
	background-color: #1919c8;
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: #1919c8; 
	}
}

.gridlay {

/*    min-height: 100vh;*/
    border-radius: 10px;
/*    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
*/
}

.gridlay img{
	width: 100%;
	height: auto;
/*	margin-top: 3%;
	margin-bottom: 2%;*/
}

#item1 {
	background: url('Work/images/mmp.png') no-repeat;
	background-size: 100%;
}

#item1:hover {
	background: visible;
	background: url('Work/images/mmp.jpg') no-repeat;
	background-size: 100%;
}

#item2 {
	background: url('Work/images/selfie.png') no-repeat;
	background-size: 100%;
}

#item2:hover {
	background: visible;
	background: url('Work/images/selfie.jpg') no-repeat;
	background-size: 100%;
}

#item3 {
	background: url('Work/images/safari.png') no-repeat;
	background-size: 100%;
}

#item3:hover {
	background: visible;
	background: url('Work/images/safari.jpg') no-repeat;
	background-size: 100%;
}

#item4 {
	background: url('Work/images/pcomp.png') no-repeat;
	background-size: 100%;
}

#item4:hover {
	background: visible;
	background: url('Work/images/pcomp.jpg') no-repeat;
	background-size: 100%;
}

#item5 {
	background: url('Work/images/tartarus.png') no-repeat;
	background-size: 100%;
}

#item5:hover {
	background: visible;
	background: url('Work/images/tartarus.jpg') no-repeat;
	background-size: 100%;
}

#item6 {
	background: url('Work/images/fluke.png') no-repeat;
	background-size: 100%;
}

#item6:hover {
	background: visible;
	background: url('Work/images/fluke.jpg') no-repeat;
	background-size: 100%;
}

#item7 {
	background: url('Work/images/formag.png') no-repeat;
	background-size: 100%;
}

#item7:hover {
	background: visible;
	background: url('Work/images/formag.jpg') no-repeat;
	background-size: 100%;
}

#item8 {
	background: url('Work/images/iic.png') no-repeat;
	background-size: 100%;
}

#item8:hover {
	background: visible;
	background: url('Work/images/iic.jpg') no-repeat;
	background-size: 100%;
}

#item9{

	background: url('Work/images/waste.png') no-repeat;
	background-size: 100%;
}

#item9:hover {
	background: visible;
	background: url('Work/images/waste.jpg') no-repeat;
	background-size: 100%;
}

.footer {
	margin:5%;
}

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 50px; 
  right: 27px; 
  z-index: 99; 
  border: 2px solid #bed6e1;
  color: #bed6e1;
  cursor: pointer; 
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-style: normal;
  padding: 7px 12px; 
  border-radius: 5px;
  font-size: 18px; 
  background-color: white;
}

#myBtn:hover {
	border: 2px solid #6e6e6e;
	color: #6e6e6e; 
}

.tz-gallery {
    padding: 40px;
   
}

/*.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}*/


/*.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}*/

.tz-gallery img {
    border-radius: 4px;
}

/*.baguetteBox-button {
    background-color: transparent;	 !important;
}*/


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .grid {
        border-radius: 0;
    }
}