body{
	background-color: #fbf6f3;
}



#logo {

	position: absolute;
	top: -2%;
	left: 40%;
	font-family: itc-galliard, serif;
	font-weight: 700;
	font-style: normal;
	color: #ff5745;
	font-size: 32pt;
	text-decoration: none;
	width: 240px;
}

a {
	text-decoration: none;
}


.Menu {
	/*margin-right: 7.5%;*/
	position: absolute;
	left: 43%;
	top:10%;
}

.menuList {
	text-align: center;
    display:inline;
	list-style-type: none;
	font-family: hypatia-sans-pro, sans-serif;
	font-weight: 700;
	font-size: 13pt;


}

.menuList li {
	text-decoration: none;
	margin-bottom: 15px;
	width: 160px;
}

.menuList a {
	color: #ffc800;
}


.port {
	position: absolute;
	left: 51%;
	top: 41%;
}

#portrait{
	width: 90%;
	height: auto;
}



.intro {
	position: absolute;
	left: 10%;
	top: 28%;
	font-family: hypatia-sans-pro, sans-serif;
	font-weight: 500;
	font-size: 12pt;

}


.introMobile{
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 14pt;
}

.intro p {
	text-indent: 5%;
	width: 40%;
}

.introMobile p {
	text-indent: 5%;
}


.head {
	font-family: itc-galliard, serif;
	font-weight: 700;
	font-style: normal;
	font-size: 23pt;
	color: #1919c8;
	width: 30%;
/*	color: #005745;*/
}

#email {
	font-size: 10pt;
	text-indent: 0%;
}

#email a{
	font-weight: 600;
	text-decoration: underline;
	color: black;
}

#emailM {
	font-size: 10pt;
	text-indent: 0%;
}

#emailM a{
	text-decoration: underline;
}
#res {
	font-size: 10pt;
	text-indent: 0%;
}

#res a{
	font-weight: 600;
	color: black; 
	text-decoration: underline;
}
#resM {
	font-size: 10pt;
	text-indent: 0%;
}

#resM a{
	text-decoration: underline;
}

#text {
	display: inline-block;
	vertical-align: middle;
	color: #1919c8;
	letter-spacing: 2px;
}


#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 27px;
	background-color: #1919c8;
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: #1919c8; 
	}
}