body{
	background-color: #fbf6f3;
}

#logo {
	position: relative;
	left: 40%;
	font-family: itc-galliard, serif;
	font-weight: 700;
	font-style: normal;
	color: #ff5745;
	font-size: 32pt;
	text-decoration: none;
	width: 240px;
}

a {
	text-decoration: none;
}


.Menu {
	margin-top: -3%;
	position: relative;
	left: 43%;
/*	top:-5%;*/
	width: 200px;
}

.menuList {
	text-align: center;
    display:inline;
	list-style-type: none;
	font-family: hypatia-sans-pro, sans-serif;
	font-weight: 700;
	font-size: 13pt;


}

.menuList li {
	text-decoration: none;
	margin-bottom: 15px;
	width: 160px;
}

.menuList a {
	color: #ffc800;
}

.Header {
	position: relative;
	left: 10%;
	top: 24%;
	font-family: itc-galliard, serif;
	font-weight: 700;
	font-style: normal;
	font-size: 23pt;
	color: #1919c8;
	width: 35%;
/*	color: #005745;*/
}

.footer {
	margin:5%;
}

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 50px; 
  right: 30px; 
  z-index: 99; 
  border: 2px solid #1919c8;
  background-color: #fbf6f3;
  color: #1919c8; 
  cursor: pointer; 
  font-family: itc-galliard, serif;
  font-weight: 900;
  font-style: normal;
  padding: 7px 12px; 
  border-radius: 5px;
  font-size: 18px; 
}

#myBtn:hover {
	border: 2px solid #ff5745;
	color: #ff5745; 
}

#text {
	display: inline-block;
	vertical-align: middle;
	color: #1919c8;
	letter-spacing: 2px;
}


#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 27px;
	background-color: #1919c8;
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: #1919c8; 
	}
}

.cont {
	position: relative;
	left: 18%;
	top: 40%;
	font-family: hypatia-sans-pro, sans-serif;
	font-weight: 600;
	font-size: 13pt;
	text-indent: 5%;
	width: 81%;
}

.intro {
	width: 55%;
}

#res a{
	font-weight: 900;
	color: black; 
	text-decoration: underline;
}

.tit {
	font-family: itc-galliard, serif;
	font-weight: 700;
	font-style: normal;
	font-size: 18pt;
	color: #1919c8;
}