body{
	background-color: #fbf6f3;
}


#logo {
/*	margin-top: -1px;*/
	position: relative;
	left: 40%;
	font-family: itc-galliard, serif;
	font-weight: 700;
	font-style: normal;
	color: #ff5745;
	font-size: 32pt;
	text-decoration: none;
	width: 240px;
}

a {
	text-decoration: none;
}


.landingimg {
	position: relative;
	left: 36%;
	top: 32%;
	width: 36%;
}

#intro {
	width: 81%;
	height: auto;
}

.Menu {
	margin-top: -3%;
	position: relative;
	left: 43%;
/*	top:-5%;*/
	width: 200px;
}

.menuList {
	text-align:center;
    display:inline;
	list-style-type: none;
	font-family: hypatia-sans-pro, sans-serif;
	font-weight: 700;
	font-size: 13pt;


}

.menuList li {
	text-decoration: none;
	margin-bottom: 15px;
	width: 160px;
}

.menuList a {
	color: #ffc800;
}

/*#screen {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	cursor:pointer;
}*/

#canvas{
	position: relative;
	top:56%;
	left: 45%;
/*	width: : 30%;*/
/*	background-color: #fbf6f3;*/
}